@page "/"

<h1>Testing environment</h1>

<div>
    <h2>Inputs</h2>
    <TestItem Heading="Button input"
              Text="Component for button."
              UITestLink="/buttoninput" />

    <TestItem Heading="Value input"
              Text="Components for inputting and formatting values."
              UITestLink="/valueinput" />

    <TestItem Heading="File input"
              Text="Components for inputting and uploading files."
              UITestLink="/fileinput" />

    <TestItem Heading="Model form"
              Text="Component form made for ValueInput components with some extra functions and gadgets."
              UITestLink="/modelform" />

</div>

<div>
    <h2>Unordered</h2>
    <TestItem Heading="Alert"
              Text="Component for various alerts."
              UITestLink="/alert" />

    <TestItem Heading="Dialog window"
              Text="Component for modals."
              UITestLink="/dialogwindow" />

    <TestItem Heading="Snack bar"
              Text="Component for snadkbar handling."
              UITestLink="/snackbar" />

    <TestItem Heading="Breadcrumbs"
              Text="Component for creating global breadcrumbs."
              UITestLink="/breadcrumbs" />

    <TestItem Heading="Loading screen"
              Text="Component for indicating loading and disabling UI elements by covering them. Fullscreen loading also possible."
              UITestLink="/loadingscreen" />

    <TestItem Heading="Sortable list"
              Text="Component for list of items that can be reordered."
              UITestLink="/sortablelist" />

    <TestItem Heading="Paging"
              Text="Component for paging numbers and actions."
              UITestLink="/paging" />

    <TestItem Heading="Card"
              Text="Component for designing cards."
              UITestLink="/card" />

    <TestItem Heading="Indexed list"
              Text="Component for long pages that need to be separated and indexed with slowcroll tables and stuff."
              UITestLink="/indexedlist" />

    <TestItem Heading="Progress bar"
              Text="Component for indicating loading progress."
              UITestLink="/progressbar" />

    <TestItem Heading="Table"
              Text="Component for tables, rows and cells."
              UITestLink="/table" />
</div>

