@page "/loadingscreen"

@code {
    bool LoadingFullscreen { get; set; } = false;
    bool Loading1 { get; set; } = false;
}

<h1>Loading screen test</h1>

<ButtonInput OnClick="@(async () => {
                            LoadingFullscreen = true;
                            StateHasChanged();
                            await Task.Delay(3000);
                            LoadingFullscreen = false;
                            StateHasChanged();
                        })">Toggle fullscreen loading</ButtonInput>
<ButtonInput OnClick="@(() => Loading1 = true)">Loading: true</ButtonInput>
<ButtonInput OnClick="@(() => Loading1 = false)">Loading: false</ButtonInput>

<LoadingScreen Fullscreen="true" Loading="LoadingFullscreen" />

<div style="width: 20rem; height: 20rem; background-color: aquamarine; position: relative;">
    <LoadingScreenAnimation Loading="Loading1" />
    <p>Loading animation alone</p>
</div>


<LoadingScreen Loading="@Loading1">
    <div style="height: 20rem; background-color: burlywood;">
        <p>Loading screen</p>
    </div>
</LoadingScreen>