.detail-bar {
    background-color: white;
    overflow-y: auto;
    min-width: max-content;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.detail-bar-header {
    background-color: #f7f7f8;
    padding: 20px 8px 0px;
}

.id-attribute{
    margin: auto;
    width: min-content;
    margin-bottom: 10px;
}

.element-type-attribute{
    margin: auto;
    width: max-content;
    color: dimgrey;
    font-family: Verdana;
}

.main-info {
    margin-bottom: 15px;
}

.tab-buttons {
    display: flex;
}

.edit-tab {
    margin: 15px;
}
