@using DasContract.Abstraction.Processes.Tasks


<div class="detail-bar">
    <h5 class="id-attribute"><strong>@EditedElement?.Id</strong></h5>
    <h5>@EditedElement?.Name</h5>

    @*Generate tab buttons*@
    @foreach (var tab in _tabs)
    {
        <button @onclick="() => SwitchActive(tab)">@tab</button>
    }


    @*General tab is generated for every element*@
    @if (_activeTab == "General")
    {
        <ElementGeneralTab ProcessElement="EditedElement"></ElementGeneralTab>
    }

    @*Additional tabs can be added for certain elements*@
    @switch (EditedElement)
    {
        case ScriptTask scriptTask:
            @if (_activeTab == "Script")
            {
                <ScriptTab @bind-Script="@scriptTask.Script"/>
            }
            break;
    }
</div>
