<div class="outer-editor-container">
    <div class="editor-container">
        <MonacoEditor OnDidChangeModelContent="OnEditorInput" @ref="MonacoEditor" ConstructionOptions="EditorConstructionOptions"/>
    </div>
</div>