<button class="btn btn-outline-dark btn-sm" @onclick="() => SwitchPreview()">
    @(UserFormService.IsPreviewOpen ? "Close preview" : "Show preview")
</button>
<ScriptTab @bind-Script="UserFormScript"></ScriptTab>