

    <div class="card my-3" style="width: 18rem; display: inline-block; vertical-align: top;">
        <div class="card-body">
            <h5 class="card-title">@Heading</h5>
            <p class="card-text">@Text</p>
            @if (UITestLink != "")
            {
                <NavLink href="@UITestLink" class="btn btn-primary">UI test</NavLink>
            }
        </div>
    </div>