@inherits LoadableComponent

<div class="contractScriptActivityEditor">
    <LoadingScreenAnimation Fullscreen="@Loading" />

    @if (ScriptActivity.Script == null || ScriptActivity.Script?.Length == 0)
    {
        <Alert Scheme="AlertScheme.Warning">We recommend you to write at least something...</Alert>
    }
    <ModelForm Model="ScriptActivity">
        <Inputs>
            <TextValueInput PropertyExpression="@(() => ScriptActivity.Script)"
                            @bind-Value="ScriptActivity.Script"
                            Type="TextValueInputType.Textarea" />
        </Inputs>
    </ModelForm>
</div>