@inherits RootComponent

    <span id="@Id"
          data-toggle="snackbar"
          data-content="@Content"
          data-style="@TypeClass"
          data-timeout="@(AutoHide ? 0 : HideTimeout)"
          data-html-allowed="true">
        &nbsp;
    </span>    