<div class="mb-3">
    <label for="@($"name-input-{ProcessElement.Id}")" class="form-label">Name</label>
    <input class="form-control" id="@($"name-input-{ProcessElement.Id}")" @bind-value="ProcessElement.Name" @onfocusout="NameInput">
</div>

@switch(ProcessElement)
{
    case DasContract.Abstraction.Processes.Tasks.Task task:
        <TaskGeneralTab Task="task"/>
        break;
    case ProcessParticipant participant:
        <ParticipantGeneralTab Participant="participant"/>
        break;
}