@inherits LoadableComponent

<table class="table @TableSchemeClass @TableStripesClass @TableBordersClass @HoverableRowsClass @TableSizeClass">
    <LoadingScreenAnimation Loading="@Loading" />
    <caption>@TableCaption</caption>
    <thead class="@TableHeadSchemeClass">
        @TableHead
    </thead>
    <tbody>
        @TableBody
    </tbody>
    <tfoot>
        @TableFoot
    </tfoot>
</table>