@typeparam TProperty
@inherits RootComponent

<div class="invalid-feedback">
    <ValidationMessage For="@For" />
</div>

@foreach (var message in Messages)
{
    <div class="invalid-feedback">
        @message
    </div>
}