@inherits PageBase
@page "/"

<h1>DasContract editor</h1>

<p>Hello there. What's on the menu?:</p>

<Card>
    <Body>
        <CardTitle>File editor</CardTitle>
        <CardText>Edit your contracts in a form of a XML file. The online editor will keep your file in a timed session, but you can upload or download it any time.</CardText>
        <ButtonInput Link="/ContractFileSession">File editor</ButtonInput>
    </Body>
</Card>

