@inherits PageBase
@page "/"

<h1>DasContract editor</h1>

<p>A visual language to define contracts between people.</p>

<p>Choose your prefered form of editor:</p>

<Card>
    <Body>
        <CardTitle>File editor</CardTitle>
        <CardText>Edit your contracts in a form of a <em>.dascontract</em> file. Upload a file, edit it and download it.</CardText>
        <ButtonInput Link="/ContractFileSession">File editor</ButtonInput>
    </Body>
</Card>

