@inherits LayoutComponentBase

<MatThemeProvider Theme="@matTheme">
    <div class="page">
        <NavMenu />
        <div class="main">
            <div class="content">
                @Body
            </div>
        </div>
    </div>
</MatThemeProvider>

@code
{
        MatTheme matTheme = new MatTheme()
        {
            Primary = "#3949ab",
            Background = "#eceff1",
            Secondary = MatThemeColors.BlueGrey._500.Value,
            OnSurface = MatThemeColors.LightBlue._500.Value
    };
}
