@inherits LayoutComponentBase

<MatThemeProvider Theme="@matTheme">
    <div class="page">
        <NavMenu />
        <div class="main">
            <div class="content">
                @Body
            </div>
        </div>
    </div>
</MatThemeProvider>

@code
{
    MatTheme matTheme = new MatTheme()
    {
        Primary = "#0f52ba",
        Secondary = "#0080ff"
    };
}
