<div class="dascontract-navbar">
    <div class="app-title">
        <h4><strong>DasContract</strong></h4>
    </div>
    @*
        <div class="nav-buttons">
            <MatButtonLink Href="/" Outlined="true">Process</MatButtonLink>
            <MatButtonLink Href="/data" Outlined="true">Data model</MatButtonLink>
            <MatButtonLink Href="/users" Outlined="true">Users</MatButtonLink>
        </div>
    *@
    <div class="toolbar">
        @foreach (var toolBarItem in Layout.ToolBarItems)
        {
            <ToolBarButton ToolBarItem="toolBarItem"/>
        }
    </div>
    <div class="generate-button">
        <button @onclick="GenerateContract" class="btn btn-primary">Generate</button>
    </div>
</div>


