 <div class="dascontract-navbar">
     <div class="vertical-center">
         <MatAppBarTitle>DasContract</MatAppBarTitle>
         <MatButtonLink Href="editor" Outlined="true">Process</MatButtonLink>
         <MatButtonLink Href="/data" Outlined="true">Data model</MatButtonLink>
         <MatButtonLink Href="/users" Outlined="true">Users</MatButtonLink>
     </div>
</div>


         @code {
             private bool collapseNavMenu = true;

             private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

             private void ToggleNavMenu()
             {
                 collapseNavMenu = !collapseNavMenu;
             }
         }
