.toolbar {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-left: 10px;
}

.toolbar-icon{
    height: 20px;
    width: 20px;
}

    .toolbar-icon:hover {
        cursor: pointer;
        filter: invert(19%) sepia(42%) saturate(4551%) hue-rotate(210deg) brightness(102%) contrast(94%);
    }

.tab-button-active {
    border-bottom: 1px solid white;
    background-color: white;
}