@page "/editableitemslist"

@code{
    public bool Loading { get; set; } = false;

    List<string> Items { get; set; } = new List<string>()
    {
        "Item 1",
        "Item 2",
        "Item 3",
        "Item 4",
        "Item 5"
    };


}

<h1>Editable items list</h1>

<div class="my-5">
    <input type="button" value="Loading: true" @onclick="@(e => { Loading = true; })" />
    <input type="button" value="Loading: false" @onclick="@(e => { Loading = false; })" />
</div>

<Bonsai.RazorComponents.MaterialBootstrap.Components.CAlert.Alert>wtf</Bonsai.RazorComponents.MaterialBootstrap.Components.CAlert.Alert>

@*<EditableItemsListX></EditableItemsListX>*@

@*<EditableItemsList Items="@Items"
                    Loading="@Loading"
                    Orderable="true">
    <ItemHeading>
        Heading @context
    </ItemHeading>
    <ItemEdit>
        This is item edit of @context
    </ItemEdit>
</EditableItemsList>*@