@page "/editableitemslist"

@code{
    public bool Loading { get; set; } = false;

    EditorContract Contract = new EditorContract()
    {
        //DataModel = new ContractDataModel()
        //{
        //    Entities = new List<ContractEntity>()
        //    {
        //        new ContractEntity()
        //        {
        //             Name = "Entity 1",

        //        }
        //    }
        //}
    };
}

<h1>Editable items list</h1>

<div class="my-5">
    <input type="button" value="Loading: true" @onclick="@(e => { Loading = true; })" />
    <input type="button" value="Loading: false" @onclick="@(e => { Loading = false; })" />
</div>


