@page "/"

<h1>Testing environment</h1>

<div>
    <h2>Contract</h2>
    <TestItem Heading="Data model"
              Text="The data model part editor."
              UITestLink="/datamodel" />
</div>


<div>
    <h2>Low level components</h2>
    <TestItem Heading="Editable items list"
              Text="List where the items provide environment for edit."
              UITestLink="/editableitemslist" />
</div>

@*<div>
        <h2>Unordered</h2>
        <TestItem Heading="Alert"
                  Text="Component for various alerts."
                  UITestLink="/alert" />

        <TestItem Heading="Dialog window"
                  Text="Component for modals."
                  UITestLink="/dialogwindow" />

        <TestItem Heading="Snack bar"
                  Text="Component for snadkbar handling."
                  UITestLink="/snackbar" />

        <TestItem Heading="Breadcrumbs"
                  Text="Component for creating global breadcrumbs."
                  UITestLink="/breadcrumbs" />

        <TestItem Heading="Loading screen"
                  Text="Component for indicating loading and disabling UI elements by covering them. Fullscreen loading also possible."
                  UITestLink="/loadingscreen" />

        <TestItem Heading="Sortable list"
                  Text="Component for list of items that can be reordered."
                  UITestLink="/sortablelist" />

        <TestItem Heading="Paging"
                  Text="Component for paging numbers and actions."
                  UITestLink="/paging" />

        <TestItem Heading="Card"
                  Text="Component for designing cards."
                  UITestLink="/card" />

        <TestItem Heading="Indexed list"
                  Text="Component for long pages that need to be separated and indexed with slowcroll tables and stuff."
                  UITestLink="/indexedlist" />

        <TestItem Heading="Progress bar"
                  Text="Component for indicating loading progress."
                  UITestLink="/progressbar" />

        <TestItem Heading="Table"
                  Text="Component for tables, rows and cells."
                  UITestLink="/table" />
    </div>*@

