@page "/"

<h1>Testing environment</h1>

<div>
    <h2>Contract</h2>
    <TestItem Heading="Data model"
              Text="The data model part editor."
              UITestLink="/datamodel" />
</div>


<div>
    <h2>Low level components</h2>
    <TestItem Heading="Editable items list"
              Text="List where the items provide environment for edit."
              UITestLink="/editableitemslist" />
</div>
