@page "/"

<h1>Testing environment</h1>

<div>
    <h2>Contract</h2>
    <TestItem Heading="Data model"
              Text="The data model part editor."
              UITestLink="/datamodel" />

    <TestItem Heading="Process diagram"
              Text="The process diagram part editor."
              UITestLink="/ProcessDiagram" />

    <TestItem Heading="Script activity"
              Text="The editor for script activity"
              UITestLink="/scriptactivity" />
</div>


<div>
    <h2>Low level components</h2>
    <TestItem Heading="Editable items list"
              Text="List where the items provide environment for edit."
              UITestLink="/editableitemslist" />

    <TestItem Heading="Integrity analysis result"
              Text="List for analysis result."
              UITestLink="/IntegrityAnalysisResult" />
</div>

