@using DasContract.Abstraction.UserInterface

<div class="card m-4">
    <div class="card-body">
        @if (!String.IsNullOrEmpty(UserForm.Label))
        {
            <h2 class="mx-auto">
                @UserForm.Label
            </h2>
        }
        @foreach (FieldGroup group in UserForm.FieldGroups)
        {
            <DFieldGroup FieldGroup="group"/>
        }
    </div>
</div>