@inherits LoadableComponent
@typeparam TModel
@implements IIdentifiableComponent



<ol id="@Id" class="sortableListComponent">
    <LoadingScreenAnimation Loading="@Loading" />

    @{
        int i = 0;
    }
    @foreach (var item in Items)
    {
        int index = i;
        var currentItem = item;

        <li>
            @if (Arrows || TextInput)
            {
                <div class="sortableListItemControls">
                    @if (Arrows)
                    {
                        @if (index != 0)
                        {
                            <div @onclick="async (e) => { await MoveUpAsync(currentItem); }">
                                <i class="fas fa-chevron-up moveUp"></i>
                            </div>

                        }
                        @if (index != Items.Count - 1)
                        {
                            <div @onclick="async (e) => { await MoveDownAsync(currentItem); }">
                                <i class="fas fa-chevron-down moveDown"></i>
                            </div>            
                        }
                    }
                    @if (TextInput)
                    {
                        <input type="number" value="@index" class="orderInput"
                               @onchange="async (e) => { await MoveItemToPositionAsync(currentItem, e.Value); }"
                               @onfocusout="() => { StateHasChanged(); }" />
                    }
                </div>
            }

            <div class="sortableListItem">
                @Item(item)
            </div>
        </li>

        i++;
    }
</ol>