
$blue: #1a93d8;
$blueHover: #1578b1;

$yellow: #f4e803;
$yellowHover: #cfc502;

$darkBlue: #081a3e;
$darkBlueHover: #050f25;

$mainTheme: $blue;
$mainThemeHover: $blueHover;


$commonGrey: #212121;
$commonGreyHover: #060606;

$transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

$pathPrefix: "/_content/Bonsai_RazorPages_Error/"