@import "_Variables";
@import "_Functions";
@import "../../node_modules/@drozdik.m/common-button/module";
@import "../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../node_modules/@drozdik.m/common-mixins/_module";


//--------------------------------------------------
//---------FONTS------------------------------------
//--------------------------------------------------
@include font-face (OpenSans, OpenSans-Extrabold, pathTo("Fonts/OpenSans/"), bolder);
@include font-face (OpenSans, OpenSans-Bold, pathTo("Fonts/OpenSans/"), bold);
@include font-face (OpenSans, OpenSans, pathTo("Fonts/OpenSans/"), normal);


html {
    font-family: 'OpenSans', Verdana, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, h7, .b, .bold, strong, b {
    font-weight: bold;
}

.i, .italic {
    font-style: italic;
}

.u, .underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

//--------------------------------------------------
//----------GLOBAL CORRECTIONS----------------------
//--------------------------------------------------
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: $blue;
}

//--------------------------------------------------
//----------ERROR WRAPPER---------------------------
//--------------------------------------------------
#errorWrapper{
    margin: 0 auto;
    padding: $pxInRem-22;
    text-align: center;
    margin-top: 15%;
    h1, p, span{
        color: white;
    }
}
@media only screen and (max-width: 50rem){
    #errorWrapper {
        padding: $pxInRem-16;
        margin-top: 25%;
    }
}

@media only screen and (min-width: 140rem) {
    #errorWrapper {
        margin-top: 10rem;
    }
}


//--------------------------------------------------
//----------ERROR ICON------------------------------
//--------------------------------------------------
#errorWrapper {
    #errorIcon{
        width: 5rem;
        height: auto;
        @include border-radius(50%);
        @include box-shadow($pxInRem-4 $pxInRem-4 $pxInRem-8 0 rgba(0, 0, 0, 0.75));
        background-color: $darkBlue;
        border: $pxInRem-1 solid $darkBlue;
        margin-bottom: $pxInRem-12;
    }
}
@media only screen and (max-width: 50rem) {
    
}


//--------------------------------------------------
//----------HEADING---------------------------------
//--------------------------------------------------
#errorWrapper {
    h1{
        font-size: $pxInRem-32;
        //font-weight: normal;
        text-transform: uppercase;
        margin-bottom: $pxInRem-4;
    }
}

@media only screen and (max-width: 50rem) {
    #errorWrapper {
        h1 {
            font-size: $pxInRem-26;
            margin-bottom: $pxInRem-2;
        }
    }
}

//--------------------------------------------------
//----------SUB-HEADING-----------------------------
//--------------------------------------------------
#errorWrapper {
    #errorText {
        font-size: $pxInRem-30;
        margin-bottom: $pxInRem-8;
    }
}
@media only screen and (max-width: 50rem) {
    #errorWrapper {
        #errorText {
            font-size: $pxInRem-22;
            margin-bottom: $pxInRem-6;
        }
    }
}

//--------------------------------------------------
//----------ERROR NUMBER----------------------------
//--------------------------------------------------
#errorWrapper {
    #errorNumber {
        font-size: $pxInRem-22;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: $pxInRem-16;
        display: block;
    }
}
@media only screen and (max-width: 50rem) {
    #errorWrapper {
        #errorNumber {
            font-size: $pxInRem-18;
            margin-bottom: $pxInRem-12;
        }
    }
}

//--------------------------------------------------
//----------BACK BUTTON-----------------------------
//--------------------------------------------------
#errorWrapper {

    #backButton {
        @include commonButtonScheme($commonGrey, $yellow, $commonGreyHover, $yellowHover);
    }
}
@media only screen and (max-width: 50rem) {
}