.contractBusinessRuleActivityEditor {
    position: relative;

    .contractBusinessRuleActivityEditorDMN {
        padding: 0.25rem;
        min-height: 25rem;
        max-height: 80vh;
        border: 1px dotted #a9a9a9;
        margin-bottom: 1.5rem;
    }
}
