@inherits LoadableComponent


    <div class="loadingScreen @(Loading ? "show" : "") @(Fullscreen ? "fullscreenLoadingScreen" : "" )">
        <div class="loadingScreenAnimation">
            <div class="loadingScreenAnimationObject">
                <div class="loadingDot loadingDot1">&nbsp;</div>
                <div class="loadingDot loadingDot2">&nbsp;</div>
                <div class="loadingDot loadingDot3">&nbsp;</div>
                <div class="loadingDot loadingDot4">&nbsp;</div>
                <div class="loadingDot loadingDot1x2">&nbsp;</div>
            </div>
        </div>
    </div>