.grid {
    display: grid;
    grid-template-columns: 3.25fr 10px 0.75fr;
}

.main-container {
    height: 100%;
}

#canvas {
    height: 100%;
    min-width: 300px;
}

h5 {
    font-family: Verdana;
}
