@page "/process"
<div class="editor-main">
    <div class="@(ShowDetailBar ? "grid" : "") main-container">
        @if (UserFormService.IsPreviewOpen)
        {
            <div class="user-form-preview">
                <DasContract.Editor.Web.Components.UserForms.DForm UserForm="UserFormService.CurrentUserForm"/>
            </div>
        }
        else
        {
            <div id="canvas"></div>
        }
        @if (ShowDetailBar)
        {
            <div class="gutter-col gutter-col-1"></div>
            <ProcessDetailBar />
        }
    </div>
</div>
