@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    <MatCheckbox @bind-Value="@checked1" Label="@(getLabel(checked1))"></MatCheckbox>
</div>

@code {
    private int currentCount = 0;

    bool checked1 = true;

    private void IncrementCount()
    {
        currentCount++;
    }

    string getLabel(bool val)
    {
        return !val ? "Check me!" : "Uncheck me?";
    }
}
