.data-editor {
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 10px 0.5fr;
}

.editor-main {
    height: 100%;
}

.script-canvas {
    height: 100%;
    display: grid;
    align-items: stretch;
    grid-template-rows: min-content auto;
}

.script-toolbar{
    width: 100%;
    padding: 5px 15px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
}

::deep svg{
    max-width: 100%;
    height: 100% !important;
    width: auto !important;
}

