@page "/data"

<div class="data-editor">
    <div class="script-canvas">
        <div class="script-toolbar">
            <Refresh @ref=Refresh RefreshRequested="RefreshDiagram" />
        </div>
        <ScriptTab Script="@DataModelXml" ScriptChanged="DataModelXmlChanged" Language="xml"></ScriptTab>
    </div>
    <div class="gutter-col gutter-col-1"></div>
    <div id="mermaid-canvas"></div>
</div>
