@page "/data"
    <div class="editor-main">
        <div class="data-editor">
            <div class="script-canvas mb-5">
                <div class="script-toolbar">
                    <RefreshButton @ref=Refresh RefreshRequested="RefreshDiagram" />
                </div>
                <div class="script-body">
                    <ScriptTab Script="@(DataModelManager.GetDataModelXml())" ScriptChanged="DataModelXmlChanged" Language="xml"></ScriptTab>
                </div>
            </div>
            <div class="gutter-col gutter-col-1"></div>

            <div id="mermaid-canvas" class="d-flex h-100"></div>
        </div>
    </div>