@inherits LayoutComponentBase


<div class="mb-2">
    <NavMenu />
</div>

<div class="container">
    <Breadcrumbs>
        <main id="main" class="container">
            @Body
        </main>
    </Breadcrumbs>
</div>