

    <nav id="menu">
        <ul class="nav nav-tabs bg-primary mb-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="/">Das Contract</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/ContractFileSession">File Editor</NavLink>
            </li>
        </ul>
    </nav>    