@inherits LoadableComponent

<div class="contractUserActivityEditor">
    <LoadingScreenAnimation Loading="@Loading" />

    <ContractFormEditor Contract="@Contract" Form="@UserActivity.Form" />
</div>